/* Start Global */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
}

/* colors
    -main color : #0E1133
    background  : #F9F9F9
    nav-icon : #0e1133;
 */
/* End Global */

/* Start Navbar */
.navbar {
    background-color: #F9F9F9;
}

.curser-pointer {
    cursor: pointer;
}

a.navbar-link {
    color: #0e1133;
    margin-left: 15px;    
}

/* End Navbar */

/* Start Header */

header.header {
    background-color: #F9F9F9
}

.header-30-days {
    color: #801F82;
}

.header-heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.header-para {
    color: #505056;
    font-size: 18px;
    line-height: 28px;
}

.header-btn {
    color: #801F82;
    border: 2px solid #801F82;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.header-btn:hover {
    color: #fff;
    border: 0;
    background-color: #801F82;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.header-mt {
    margin-top: 150px;
}

/* End Header */


/* Start Service */
.service-para {
    font-weight: 500;
}

.service-circle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bg-blue {
    background-color: #4384FA
}

.bg-red {
    background-color: #F76F5D;
}

.bg-green {
    background-color: #5ED28C;
}

.bg-orange {
    background-color: #B25DFC
}

.service .color {
    color: #505056;
}

.service-shadow {
    box-shadow: 10px 10px 5px lightblue outside;
}

/* End Service */



/* Start featuree */
.feature {
    background-color: #0E1133;
    overflow: hidden;
}


.feature-box {
    color: #fff;
    padding: 15px 10px;
    border: 1px solid rgba(240, 240, 240, 0.2);
    position: relative;
}

.feature-box:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: red;
    top: 40px;
    left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* End featuree */


/* Start download */
.download-title {
    color: #0E1133;
}

.download-subtitle {
    color: #505056;;
}

.download-left,.download-right  {
    background-color: #EBF2FC;
    padding-top: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.download-left {
    width: 47%;
    float: left;
    margin-right: 6%;
}

.download-right {
    width: 47%;
    float: right;
}

.download-btn {
    font-size: 18px;
    padding: 15px 20px;
    color: #0E1133;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.download-btn:hover {
    background-color: #801f82;
    color: #fff;
}

.clear {
    clear: both;
}

.bi-google-play, .bi-apple {
    margin-top: -5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.download-btn-apple {
    background-color: #801f82;
    color: #fff;
}

.download-btn-apple:hover {
    background-color: #fff;
    color: #0E1133;
}
/* End download */

/* Start Creative  */
.creative {
    background-color: #EEF1F6;
}
/* End Creative  */


/* Start testimonial  */
.testimonial {
    background-color: #1631BA;
}

.testimonial-para {
    font-size: 22px;
}

.download-title {
    font-size: 44px;
    font-weight: 900;
}

.works-image {
    width: 11%;
    height: 100px;
    line-height: 100px;
    float: left;
    border-r;
}

.clear {
    clear: both;
}
/* End testimonial  */


